{% extends "base_layout.j2" %}
{% block title %}
    Print Dashboard
{% endblock title %}
{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Print Dashboard</li>
        </ol>
        <h1>Print Dashboard</h1>
            <div class="container mx-auto text-right pb-3">
            <div class="btn-group">
                <button type="button" class="btn btn-info">{{ selected_status }}</button>
                <button type="button"
                        class="btn btn-info dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item"
                       href="{{ url_for('management view.print_dashboard', status='queued') }}">Queued</a>
                    <a class="dropdown-item"
                       href="{{ url_for('management view.print_dashboard', status='failed') }}">Failed</a>
                    <a class="dropdown-item"
                       href="{{ url_for('management view.print_dashboard', status='rejected') }}">Rejected</a>
                    <a class="dropdown-item"
                       href="{{ url_for('management view.print_dashboard', status='complete') }}">Complete</a>
                    <a class="dropdown-item"
                       href="{{ url_for('management view.print_dashboard', status='awaiting') }}">Awaiting
                    Approval</a>
                    <a class="dropdown-item"
                       href="{{ url_for('management view.print_dashboard', status='under_review') }}">Under Review</a>
                </div>
            </div>
            </div>
        {% if print_jobs %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Thumbnail</th>
                        <th scope="col">User</th>
                        <th scope="col">Job Name</th>
                        <th scope="col">Print Time</th>
                        <th scope="col">Filament Usage</th>
                        <th scope="col">Project</th>
                        <th scope="col">Date Added</th>
                        <th scope="col">Rep Check</th>
                        <th scope="col">Printer Type</th>
                        <th scope="col">Printer</th>
                        <th scope="col">Upload Notes</th>
                        <th scope="col">Queue Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in print_jobs %}
                        <tr>
                            <td>IMAGE PLACEHOLDER</td>
                            <td>USER PLACEHOLDER</td>
                            <td>{{ job.print_name }}</td>
                            <td>{{ job.print_time }}</td>
                            <td>{{ job.filament_usage }}</td>
                            <td>{{ "ENUM TO VALUE" + " " + "PROJECT STRING IF EXISTS" }}</td>
                            <td>{{ job.date_added.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                            <td>REP USER PLACEHOLDER</td>
                            <td>{{ job.printer_type }}</td>
                            <td>{{ job.printer }}</td>
                            <td>{{ job.upload_notes }}</td>
                            <td>{{ job.queue_notes }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-primary">There are no jobs currently in the queue.</div>
        {% endif %}
    </div>
{% endblock content %}
