{% extends "base_layout.j2" %}
{% block title %}Printer Dashboard {% endblock title %}

{% block content %}

<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('management view.print_dashboard') }}">Home</a></li>
        <li class="breadcrumb-item active">Printer Dashboard</li>
    </ol>

    <h1>Printer Dashboard</h1>
    {% if printers %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">IP</th>
                <th scope="col">API Key</th>
                <th scope="col">Time Printed</th>
                <th scope="col">Complete Prints</th>
                <th scope="col">Failed Prints</th>
                <th scope="col">Filament Used</th>
                <th scope="col">Uptime</th>
            </tr>
        </thead>
        <tbody>
            {% for printer in printers %}
            <tr>
                <td>{{ printer.id }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% else %}
    <div class="alert alert-primary">
        There are no printers currently in the database.
    </div>
    {% endif %}
</div>
{% endblock content %}