{% extends "base_layout.j2" %}
{% block title %}
    STL Viewer
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Hello World</h1>
        </div>
        <div id="react-root">
        <stl-part-viewer src="../static/print_models/test.stl"></stl-part-viewer>
        </div>
        <script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
    </div>
{% endblock content %}
import HelloWorld from "./hello";