{% extends "base_layout.j2" %}
{% block head %}
{% endblock %}
{% block title %}STL Viewer{% endblock %}
{% block content %}
    <div class="container">
        <p>
            Hello World
        </p>
    </div>
{% endblock %}
