{% extends "base_layout.j2" %}
{% block title %}
    Print Upload
{% endblock title %}
{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for('user view.print_dashboard') }}">Print Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Print Upload</li>
        </ol>
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Print Upload</h1>
        </div>
        <form class="mx-auto mr-5 ml-5" name="f" method="post">
            <div class="row mb-3">
                <div class="col-md-6 row">
                    <label for="inputUsername" class="col-sm-4 col-form-label">Username</label>
                    <div class="col-sm-8">
                        <input type="text"
                               class="form-control"
                               id="inputUsername"
                               placeholder="aca19scp">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 row">
                    <label for="inputProject" class="col-sm-4 col-form-label">Project Type</label>
                    <div class="col-sm-8">
                        <select name="project_type"
                                class="form-control"
                                id="inputProject"
                                aria-label="project selector"
                                onchange="document.f.submit();">
                            {% for project in project_types %}
                                <option value="{{ project.name }}"
                                        {% if project.name == selected_project %}selected="selected"{% endif %}>
                                    {{ project.value }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% if selected_project != "personal" %}
                    <div class="col-md-6 row">
                        <label for="inputProjectDetails" class="col-sm-4 col-form-label">Project Details</label>
                        <div class="col-sm-8">
                            <input type="text"
                                   class="form-control"
                                   id="inputProjectDetails"
                                   placeholder="Project Details">
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="row mb-3">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
