{% extends "base_layout.j2" %}
{% block title %}
    Print Upload
{% endblock title %}
{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for('user view.print_dashboard') }}">Print Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Print Upload</li>
        </ol>
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Print Upload</h1>
        </div>
        <form class="row g-3">
            <div class="col-md-6 form-group">
                <label for="inputUsername" class="form-label">Username</label>
                <input type="text"
                       class="form-control"
                       id="inputUsername"
                       placeholder="aca19scp">
            </div>
            <div class="col-md-6 form-group">
                <label for="inputProject" class="form-label">Project Type</label>
                <select class="form-control" id="inputProject" aria-label="">
                {% for project in project_types %}
                    <option value="{{project.name}}">{{project.value}}</option>
                {% endfor %}
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
    </div>
{% endblock content %}
