{% extends "base_layout.j2" %}
{% block title %}
    STL Viewer
{% endblock title %}
{% block content %}
    <div class="container">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('user view.print_dashboard') }}">Print Dashboard</a></li>
        <li class="breadcrumb-item active">STL Viewer</li>
    </ol>
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">STL Viewer</h1>
        </div>
        <div id="react-root" class="row align-items-center mx-auto">
        </div>
        <div class="row mx-auto">
            <p>File</p>
        </div>
        <script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
    </div>
{% endblock content %}