{% extends "base_layout.j2" %}

{% block title %}Unauthorized{% endblock title %}

{% block content %}
<div class="jumbotron">
    <div class="text-center">
        <h1>401</h1>
        <p>You are not authorized to see this page.
        </p>
    </div>
</div>
{% endblock content %}